/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

form :not(button) {
    padding: 0.4rem;
}

form :not(button):focus {
    padding: 0.6rem;
}
